/* Place CSS styles here */
.project-1-image-wrap img {
width: 200px;
}

.project-1-wrap-2 img {
    width: 200px
}

.list-1 {
    color: rgba(255, 78, 155, 0.77);
    font-weight: bold;
  }

  .sansserif {
    font-family: Helvetica;
  }

  h2 {
    font-size: ;20
  }

  h3 {
    font-size: ;20
  }