/* Place CSS styles here */
.project-1-image-wrap img {
width: 200px;
}

.project-1-wrap-2 img {
    width: 200px
}

.list-1 {
    padding-left: -6px;
    color: rgba(16, 93, 60);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
    
  }

h1 {
    margin-left: 80px;
    margin-right: 250px;
    border-bottom: 9px solid rgb(5, 47, 5);
    padding-left: 10px;
    font-size: 280%;
    font-weight: bolder;
    color: rgb(70, 88, 75);
    font-family:Arial, Helvetica, sans-serif
  }
 

h2 {
    border-bottom: 9px solid rgb(5, 47, 5);
    padding-left: 10px;
    color: rgba(70, 88, 75);
    font-size: 150%;
    font-family:Arial, Helvetica, sans-serif
  }

 h3 {
    border-bottom: 9px solid rgb(5, 47, 5);
    padding-left: 10px;
    color: rgb(70, 88, 75);
    font-size: 150%;
    font-family:Arial, Helvetica, sans-serif
  }

  body {
    background-color:rgb(251, 242, 232);
  }

  .p1 {
    padding-left: 10px;
    color: rgba(16, 93, 60);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
  }

  .p2 {
    padding-left: 10px;
    color: rgba(16, 93, 60);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
  }

  .p3 {
    padding-left: 10px;
    color: rgba(16, 93, 60);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
  }

.section-1 {
    border: 5px solid rgb(5, 47, 5);
    margin-left: 95px;
    margin-right: 250px;
  }

  .section-2 {
    border-bottom: 5px solid rgb(5, 47, 5);
    margin-left: 95px;
    margin-right: 250px;
  }

  .section-3 {
    border-bottom: 5px solid rgb(5, 47, 5);
    margin-left: 95px;
    margin-right: 250px;
    margin-bottom: 50px;
  }

