/* Place CSS styles here */
.project-1-image-wrap img {
width: 200px;
}

.project-1-wrap-2 img {
    width: 200px
}

.list-1 {
    color: rgba(16, 93, 60);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
  }

h1 {
    color: rgb(70, 88, 75);
    font-family:Arial, Helvetica, sans-serif
  }

h2 {
    color: rgb(70, 88, 75);
    font-size: 150%;
    font-family:Arial, Helvetica, sans-serif
  }

 h3 {
    color: rgb(70, 88, 75);
    font-size: 150%;
    font-family:Arial, Helvetica, sans-serif
  }

  body {
    background-color:rgb(251, 242, 232);
  }

  .p1 {
    color: rgba(16, 93, 60);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
  }

  .p2 {
    color: rgba(16, 93, 60);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
  }